<div class="post-main-wrap">
<div class="post-wrap">
 <h2>
    <span>Post #<%= post.id  %></span>
    <span>
      <%= post.title %>
    </span>
  </h2>
   <p>
    <%= post.text %>
  </p>
  </div>
  <div class="counter">
  <small>
    <span>Comment: <%= post.comments_counter %>, </span>
  </small>
  </div>
</div>