 <%= render partial: "users/user" , locals: { user: @user } %>
 
<div class="post-container">
  <% @posts.each_with_index do |post, index| %>
    <%= render partial: "posts" , locals: { post: post, index: index } %>
      <ul>
        <% post.comments.each do |comment| %>
          <% end %>
      </ul>
      <% end %>
</div>