<div>
  <%= render partial: "post_details" , locals: { post: @post } %>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete Post', "/users/#{params[:user_id]}/posts/#{@post.id}", class: "btn text-dark btn-danger", method: :delete %>
  <% end %> 
</div>

<div class="posts"></div>