<div>
  <%= render partial: "post_details" , locals: { post: @post } %>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete Post', user_post_path(@post.author_id), method:delete, params:{post_id: @post.id} %>
  <% end %>
</div>

<div class="posts"></div>